@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "StudioGothic";
  src: url("/fonts/StudioGothic-Medium.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "StudioGothic";
  src: url("/fonts/StudioGothic-Light.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "StudioGothic";
  src: url("/fonts/StudioGothic-Fat.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "StudioGothic";
  src: url("/fonts/StudioGothic-ExtraBold.otf");
  font-style: normal;
  font-weight: 700;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}
